<%- include('includes/navigationTab', {pageTitle: 'Product List'}); %>
<link rel="stylesheet" href="styles/productList.css">
<div class="all-products">
    <% allProdcuts.forEach(function(product){ %>
            <div class="product">
            
                <div class="product-image">
                    <img src= "<%= product.imageURL %>" alt="<%= product.title %>">
                </div>
                <div class="title-price">
                    <p><%- product.title %></p>
                    <p>price: R <%- product.price %> </p>
                </div>
                <div class="cartButton">
                    <% if(!admin){ %>
                    <a href="/product/<%= product.id %>"><button>Add to cart</button></a>
                    
                    <% }else { %>
                        <a href="/products-admin/<%= product.id %>"><button>Edit Product</button></a>
                        <a href="/products-admin/delete/<%= product.id %>"><button>Delete Product</button></a>
                    <% } %>
                </div>
            </div>
        
    <% }); %>
    
</div>
</body>
</html>